.reviews
  background-color: $bgLightColor
  padding-top: 80px
  &-box
    background-color: #ffffff
    box-shadow: 0 2px 13px 0 rgba(172, 172, 172, 0.5)
    width: 630px
    height: 390px
    margin: 40px auto 40px
    ^&__text
      padding: 53px 40px 97px 40px
      display: block
      p
        font-family: $LfontFamily
        font-size: 14px
        line-height: 1.6
        letter-spacing: 0.3px
        color: #336f96
