<div id="p-reviews" class="reviews block-lignt">
  <div class="box">
    <div class="wow fadeIn" data-wow-delay=".1s">
      <h2>CUSTOMERS REVIEWS</h2>
    </div>
    <div class="reviews-wrap">
      <div class="reviews__control reviews__control--left">
        <div class="control--left"></div>
      </div>
      <div class="reviews-list">

        <div id="reviews-box" class="owl-carousel owl-theme">

        <div class="reviews__item">
          <div class="reviews-box">
            <div class="reviews__header">
              <div class="reviews__header-box">
                <div class="profile">
                  <div class="photo"><img src="assets/images/reviews/photo.png" alt=""></div>
                  <div class="info"><img src="assets/images/reviews/profile.png" alt=""></div>
                </div>
                <div class="rating"><img src="assets/images/reviews/rating.png" alt=""></div>
              </div>
            </div><!-- /.reviews__header -->
            <div class="reviews__text">
              <p>The move went exactly as I'd expected and they were able to accommodate to my special requests as I needed to make a quick pit stop to drop off a third of my boxes at a house nearby before moving my classroom full of boxes to another school.  They were helpful and I couldn't be more happier. I will surely use them again for my next move.</p>
            </div><!-- /.reviews__text -->
          </div><!-- /.reviews-box -->
        </div><!-- /.reviews__item -->

        <div class="reviews__item">
          <div class="reviews-box">
            <div class="reviews__header">
              <div class="reviews__header-box">
                <div class="profile">
                  <div class="photo"><img src="assets/images/reviews/photo.png" alt=""></div>
                  <div class="info"><img src="assets/images/reviews/profile.png" alt=""></div>
                </div>
                <div class="rating"><img src="assets/images/reviews/rating.png" alt=""></div>
              </div>
            </div><!-- /.reviews__header -->
            <div class="reviews__text">
              <p>The move went exactly as I'd expected and they were able to accommodate to my special requests as I needed to make a quick pit stop to drop off a third of my boxes at a house nearby before moving my classroom full of boxes to another school.  They were helpful and I couldn't be more happier. I will surely use them again for my next move.</p>
            </div><!-- /.reviews__text -->
          </div><!-- /.reviews-box -->
        </div><!-- /.reviews__item -->

        <div class="reviews__item">
          <div class="reviews-box">
            <div class="reviews__header">
              <div class="reviews__header-box">
                <div class="profile">
                  <div class="photo"><img src="assets/images/reviews/photo.png" alt=""></div>
                  <div class="info"><img src="assets/images/reviews/profile.png" alt=""></div>
                </div>
                <div class="rating"><img src="assets/images/reviews/rating.png" alt=""></div>
              </div>
            </div><!-- /.reviews__header -->
            <div class="reviews__text">
              <p>The move went exactly as I'd expected and they were able to accommodate to my special requests as I needed to make a quick pit stop to drop off a third of my boxes at a house nearby before moving my classroom full of boxes to another school.  They were helpful and I couldn't be more happier. I will surely use them again for my next move.</p>
            </div><!-- /.reviews__text -->
          </div><!-- /.reviews-box -->
        </div><!-- /.reviews__item -->

      </div><!-- /.owl -->

      </div>
      <div class="reviews__control reviews__control--right">
        <div class="control--right"></div>
      </div>
    </div>
  </div><!-- /.box -->
</div><!-- /.reviews -->
