.lead
  height: 100vh
  background-image: inline('bgs/lead-bg.png')
  margin: 0
  background-attachment: scroll
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover
  position: relative
