<div class="why block-lignt">
  <div class="box">
    <h2>WHY CHOOSE US</h2>

    <p>OUR GOAL IS TO LIFT THE BURDEN OF THE ACTUAL <br><span class="mark">MOVE</span> FROM YOUR SHOULDERS.</p>
    <div class="why-list">

      <div class="why__item">
        <div class="why__item-box">
          <div class="why-head">
            <p><img src="assets/images/why/1.png" alt=""></p>
          </div><!-- /.why-head -->
          <h3>LARGE STORAGE</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->
      <div class="why__item why__item--hover">
        <div class="why__item-box">
          <div class="why-head">
            <p><img src="assets/images/why/2.png" alt=""></p>
          </div><!-- /.why-head -->
          <h3>ON TIME DELIVERY</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

      <div class="why__item">
        <div class="why__item-box">
          <div class="why-head">
            <p><img src="assets/images/why/3.png" alt=""></p>
          </div><!-- /.why-head -->
          <h3>MOVING INSURANCE</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

      <div class="why__item">
        <div class="why__item-box">
          <div class="why-head">
            <p><img src="assets/images/why/4.png" alt=""></p>
          </div><!-- /.why-head -->
          <h3>CUSTOMER SUPPORT</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

      <div class="why__item">
        <div class="why__item-box">
          <div class="why-head">
            <p><img src="assets/images/why/5.png" alt=""></p>
          </div><!-- /.why-head -->
          <h3>LARGEST DESTINATIONS</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

      <div class="why__item">
        <div class="why__item-box">
          <div class="why-head">
            <p><img src="assets/images/why/6.png" alt=""></p>
          </div><!-- /.why-head -->
          <h3>EQUIPPED TRUCKS</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

    </div><!-- /.why-list -->
  </div><!-- /.box -->
</div><!-- /.why -->
