<div class="why block-lignt">
  <div class="box">
    <h2>WHY CHOOSE US</h2>

    <p>OUR GOAL IS TO LIFT THE BURDEN OF THE ACTUAL <span class="mark">MOVE</span> FROM YOUR SHOULDERS.</p>
    <div class="why-list">

      <div class="why__item">
        <div class="why__item-box">
          <h3>LARGE STORAGE</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->
      <div class="why__item">
        <div class="why__item-box">
          <h3>ON TIME DELIVERY</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

      <div class="why__item">
        <div class="why__item-box">
          <h3>MOVING INSURANCE</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

      <div class="why__item">
        <div class="why__item-box">
          <h3>CUSTOMER SUPPORT</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

      <div class="why__item">
        <div class="why__item-box">
          <h3>LARGEST DESTINATIONS</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

      <div class="why__item">
        <div class="why__item-box">
          <h3>EQUIPPED TRUCKS</h3>
          <p>The best contact you will get here lorem ipsum dolor sit amet</p>
        </div><!-- /.why__item-box -->
      </div><!-- /.why__item -->

    </div><!-- /.why-list -->
  </div><!-- /.box -->
</div><!-- /.why -->
