<div class="why block-lignt">
  <div class="box">
    <h2>WHY CHOOSE US</h2>

    <p>OUR GOAL IS TO LIFT THE BURDEN OF THE ACTUAL <span class="mark">MOVE</span> FROM YOUR SHOULDERS.</p>

    item

    <h3>LARGE STORAGE</h3>
    <p>The best contact you will get here lorem ipsum dolor sit amet</p>

    item

    <h3>ON TIME DELIVERY</h3>
    <p>The best contact you will get here lorem ipsum dolor sit amet</p>

    item

    <h3>MOVING INSURANCE</h3>
    <p>The best contact you will get here lorem ipsum dolor sit amet</p>

    item

    <h3>CUSTOMER SUPPORT</h3>
    <p>The best contact you will get here lorem ipsum dolor sit amet</p>

    item

    <h3>LARGEST DESTINATIONS</h3>
    <p>The best contact you will get here lorem ipsum dolor sit amet</p>

    item

    <h3>EQUIPPED TRUCKS</h3>
    <p>The best contact you will get here lorem ipsum dolor sit amet</p>
  </div><!-- /.box -->
</div><!-- /.why -->
