body
  font-family: $MfontFamily
  background: rgb(255, 255, 255)
  font-size: 15px
  line-height: 1.58
  text-size-adjust: 100%
  font-weight: 400

// изменим плёйсхолдер в лучшую сторону
*::placeholder
  color: #abb6ba
  opacity: 1
*::placeholder-shown
  color: #abb6ba

// предопределим выделение текста
::selection
  background: #fb9d22
  color: #fff
