<div id="p-get" class="get block-lignt">
  <div class="box">
    <div class="wow fadeIn" data-wow-delay=".1s">
      <h2>GET A FREE QUOTE</h2>
      <p class="nomob">GET MOVING COMPANY RATES FROM CALSTATE <br>PROFESSIONAL MOVERS TODAY.</p>
    </div>
    <div class="wow bounce">
      <form class="form-big _fs" action="mail.php" method="post">
        <div class="form-box">
          <div class="form-group form-group-box">
            <input type="text" class="form-control" name="name" placeholder="Full name" required>
          </div>
          <div class="form-group form-group-box">
            <input type="text" class="form-control" name="contact" placeholder="Phone or email" required>
          </div>
          <div class="form-box-line">
            <div class="form-group">
              <input type="text" class="form-control _zip" name="zipform" id="i_zipform_b" maxlength="5" placeholder="Zipe code from" required>
              <span class="form-group__icon">Zipe code from</span>
            </div>
            <div class="form-group form-group-last">
              <input type="text" class="form-control _zip" name="zipto" id="i_zipto_b" maxlength="5" placeholder="Zipe code to" required>
              <span class="form-group__icon">Zipe code to</span>
            </div>
          </div>
          <div class="form-group">
            <input type="hidden" name="hidden" value="GET A FREE QUOTE" class="form-hidden">
            <button type="submit" class="btn">SUBMIT NOW</button>
            <div class="error-text" style="display: none;">Fill in required fields!</div>
          </div>
        </div>
        <div class="form-box form-box-text">
          <div class="form-group-text">
            <textarea name="message" class="form-control" rows="8" cols="40" placeholder="Your message"></textarea>
          </div>
        </div>
      </form><!-- /.form-big -->
    </div>
  </div><!-- /.box -->
</div><!-- /.get block-lignt -->
