.get
  object-fit: contain
  // opacity: 0.9
  min-height: 569px
  padding-top: 80px
  display: block
  width: 100%
  background: #f4f8fa inline('bgs/get-bg.png')
  margin: 0
  background-attachment: fixed
  background-position: 100% 100%
  background-repeat: no-repeat
  background-size: cover
  position: relative
  padding-top: 80px
