<div class="ourpartner block-bg">
  <div class="box">
    <div class="wow fadeIn" data-wow-delay=".1s">
      <h2>OUR AWESOME PARTNER</h2>
    </div>
    <div class="partner-list">

      <div class="partner__item wow fadeIn" data-wow-delay=".4s">
        <div class="partner-box">
          <img src="assets/images/partner/angies-list.png" alt="">
        </div><!-- /.partner-box -->
      </div><!-- /.partner__item -->

      <div class="partner__item wow fadeIn" data-wow-delay=".2s">
        <div class="partner-box">
          <img src="assets/images/partner/yelp.png" alt="">
        </div><!-- /.partner-box -->
      </div><!-- /.partner__item -->

      <div class="partner__item wow fadeIn" data-wow-delay=".3s">
        <div class="partner-box">
          <img src="assets/images/partner/unpakt-logo.png" alt="">
        </div><!-- /.partner-box -->
      </div><!-- /.partner__item -->

      <div class="partner__item wow fadeIn" data-wow-delay=".2s">
        <div class="partner-box">
          <img src="assets/images/partner/bitmap.png" alt="">
        </div><!-- /.partner-box -->
      </div><!-- /.partner__item -->

    </div><!-- /.partner-list -->
  </div><!-- /.box -->
</div><!-- /.ourpartner -->
