<div class="ourpartner block-bg">
  <div class="box">
    <h2>OUR AWESOME PARTNER</h2>
    <div class="partner-list">

      <div class="partner__item">
        <div class="partner-box">
          <img src="assets/images/partner/1.png" alt="">
        </div><!-- /.partner-box -->
      </div><!-- /.partner__item -->

      <div class="partner__item">
        <div class="partner-box">
          <img src="assets/images/partner/2.png" alt="">
        </div><!-- /.partner-box -->
      </div><!-- /.partner__item -->

      <div class="partner__item">
        <div class="partner-box">
          <img src="assets/images/partner/3.png" alt="">
        </div><!-- /.partner-box -->
      </div><!-- /.partner__item -->

      <div class="partner__item">
        <div class="partner-box">
          <img src="assets/images/partner/4.png" alt="">
        </div><!-- /.partner-box -->
      </div><!-- /.partner__item -->

    </div><!-- /.partner-list -->
  </div><!-- /.box -->
</div><!-- /.ourpartner -->
