<footer class="footer">
  <div class="box">
    <div class="footer-box">
      <div class="logo">
        <img src="assets/images/logo_mini.svg" alt="#1 CALIFORNIA MOVING SERVICE" width="67" height="44">     
      </div>
      <div class="copyright">
        <p class="">Copyrights ©2013-2016. License number: 0190811</p>
      </div>
    </div>
  </div>
</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="assets/scripts/scripts.js"></script>
<!-- <script src="assets/scripts/vendor.js"></script> -->
