<div class="prices block-bg">
  <div class="box">
    <h2>AFFORDABLE PRICES</h2>

    <p>OUR GOAL IS TO LIFT THE BURDEN OF THE ACTUAL <br>MOVE FROM YOUR SHOULDERS.</p>

    <div class="prices-list">
      <div class="prices__item">
        <div class="prices-box"></div>
      </div>
      <div class="prices__item">
        <div class="prices-box"></div>
      </div>
      <div class="prices__item">
        <div class="prices-box"></div>
      </div>
      <div class="prices__item">
        <div class="prices-box"></div>
      </div>
    </div>

    <li>LOCAL MOVING</li>
    <li>STORAGE SERVICE</li>
  </div><!-- /.box -->
</div><!-- /.prices -->
