.prices
  width: 100%
  min-height: 700px
  // opacity: 0.8
  background-image: radial-gradient(circle at 50% 0, #23a0cf, #123247)
  background-image: inline('bgs/prices-bg.png')
  margin: 0
  background-attachment: scroll
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover
  position: relative
  padding-top: 80px
