<div id="p-prices" class="prices block-bg">
  <div class="box">
    <div class="wow fadeIn" data-wow-delay=".1s">
      <h2>AFFORDABLE PRICES</h2>
      <p>OUR GOAL IS TO LIFT THE BURDEN OF THE ACTUAL <br>MOVE FROM YOUR SHOULDERS.</p>
    </div>

    <div class="tabs" role="tabs">
      <div class="tabs__content">
        <div class="tabs__content-item tabs-local">

          <div class="prices-list">

            <div class="prices__item">
              <div class="prices-box">
                <div class="prices-box__info">
                  <div class="human">
                    <div class="human__i">1 MOVERS</div>
                    <div class="human__i">1 MOVERS</div>
                  </div>
                  <div class="cost">
                    <div class="cost__box">
                      <span class="cost-d">$</span><span class="cost-n">89</span><span class="cost-time">&nbsp;/&nbsp;hour</span>
                    </div>
                    <div class="cost__header">2 MOVERS & TRUCK</div>
                  </div>
                  <a href="#p-get" class="btn _go-to">BOOK NOW</a>
                </div><!-- /.prices-box__info -->
                <div class="prices-box__img">
                  <img src="assets/images/prices/truck.png" alt="">
                </div><!-- /.prices-box__img -->
              </div><!-- /.prices-box -->
            </div><!-- /.prices__item -->

            <div class="prices__item wow bounceIn" data-wow-delay=".3s">
              <div class="prices-box">
                <div class="prices-box__info">
                  <div class="human">
                    <div class="human__i">1 MOVERS</div>
                    <div class="human__i">1 MOVERS</div>
                    <div class="human__i">1 MOVERS</div>
                  </div>
                  <div class="cost">
                    <div class="cost__box">
                      <span class="cost-d">$</span><span class="cost-n">109</span><span class="cost-time">&nbsp;/&nbsp;hour</span>
                    </div>
                    <div class="cost__header">3 MOVERS & TRUCK</div>
                  </div>
                  <a href="#p-get" class="btn _go-to">BOOK NOW</a>
                </div><!-- /.prices-box__info -->
                <div class="prices-box__img">
                  <img src="assets/images/prices/truck.png" alt="">
                </div><!-- /.prices-box__img -->
              </div><!-- /.prices-box -->
            </div><!-- /.prices__item -->

            <div class="prices__item wow bounceIn" data-wow-delay=".4s">
              <div class="prices-box">
                <div class="prices-box__info">
                  <div class="human">
                    <div class="human__i">1 MOVERS</div>
                    <div class="human__i">1 MOVERS</div>
                    <div class="human__i">1 MOVERS</div>
                    <div class="human__i">1 MOVERS</div>
                  </div>
                  <div class="cost">
                    <div class="cost__box">
                      <span class="cost-d">$</span><span class="cost-n">139</span><span class="cost-time">&nbsp;/&nbsp;hour</span>
                    </div>
                    <div class="cost__header">4 MOVERS & TRUCK</div>
                  </div>
                  <a href="#p-get" class="btn _go-to">BOOK NOW</a>
                </div><!-- /.prices-box__info -->
                <div class="prices-box__img">
                  <img src="assets/images/prices/truck.png" alt="">
                </div><!-- /.prices-box__img -->
              </div><!-- /.prices-box -->
            </div><!-- /.prices__item -->

          </div><!-- /.prices-list -->

        </div><!-- /.tabs__content-item -->

        <div class="tabs__content-item tabs-long">

          <div class="long-list">

            <div class="long__item long__item--info wow bounceIn" data-wow-delay=".3s">
              <div class="long__info">
                <p>Long distance moving is the most challenging of all <br> moves. There are always construction projects and <br> other factors at play with these types of moves.</p>
                <p class="img"><img src="assets/images/prices/long.png" alt=""></p>
              </div>
            </div><!-- /.long__item -->

            <div class="long__item long__item--form wow bounceIn" data-wow-delay=".3s">
              <div class="long__form">
                <h3><span>GET A FREE QUOTE</span> FOR LONG DISTANCE MOVING</h3>
                <form class="form-big _fs1" action="mail.php" method="post">
                  <div class="form-box">
                    <div class="form-group form-group-box">
                      <input type="text" class="form-control" name="name" placeholder="Full name" required>
                    </div>
                    <div class="form-group form-group-box">
                      <input type="text" class="form-control" name="contact" placeholder="Phone or email" required>
                    </div>
                    <div class="form-box-line">
                      <div class="form-group">
                        <input type="text" class="form-control _zip" name="zipform" maxlength="5" placeholder="Zipe code from" required>
                        <span class="form-group__icon">Zipe code from</span>
                      </div>
                      <div class="form-group form-group-last">
                        <input type="text" class="form-control _zip" name="zipto" maxlength="5" placeholder="Zipe code to" required>
                        <span class="form-group__icon">Zipe code to</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="hidden" value="LONG DISTANCE" class="form-hidden">
                      <button type="submit" class="btn">SUBMIT NOW</button>
                      <div class="error-text" style="display: none;">Fill in required fields!</div>
                    </div>
                  </div>
                  <div class="form-box form-box-text">
                    <div class="form-group-text">
                      <textarea name="message" class="form-control" rows="8" cols="40" placeholder="Your message"></textarea>
                    </div>
                  </div>
                </form><!-- /.form-big -->
              </div><!-- /.long__form -->
            </div><!-- /.long__item -->

          </div><!-- /.long-list -->

        </div><!-- /.tabs__content-item -->

        <div class="tabs__content-item tabs-storage">
          <div class="storage-list">

            <div class="storage__item storage__item--info wow bounceIn" data-wow-delay=".3s">
              <div class="storage__info">
                <p>Don't have a storage yet? No problem, we've got your back! CalState Moving has affordable storage vaults available at our warehouse. </p>
                <p class="img"><img src="assets/images/prices/storage.png" alt=""></p>
              </div>
            </div><!-- /.long__item -->

            <div class="storage__item storage__item--form wow bounceIn" data-wow-delay=".3s">
              <div class="storage__form">
                <h3><span>GET A FREE ESTIMATE</span> FOR STORAGE OF YOUR STUFF</h3>
                <form class="form-big _fs2" action="mail.php" method="post">
                  <div class="form-box">
                    <div class="form-group form-group-box">
                      <input type="text" class="form-control" name="name" placeholder="Full name" required>
                    </div>
                    <div class="form-group form-group-box">
                      <input type="text" class="form-control" name="contact" placeholder="Phone or email" required>
                    </div>
                    <div class="form-box-line">
                      <div class="form-group">
                        <input type="text" class="form-control _zip" name="zipform" maxlength="5" placeholder="Zipe code from" required>
                        <span class="form-group__icon">Zipe code from</span>
                      </div>
                      <div class="form-group form-group-last">
                        <input type="text" class="form-control _zip" name="zipto" maxlength="5" placeholder="Zipe code to" required>
                        <span class="form-group__icon">Zipe code to</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="hidden" value="STORAGE SERVICE" class="form-hidden">
                      <button type="submit" class="btn">SUBMIT NOW</button>
                      <div class="error-text" style="display: none;">Fill in required fields!</div>
                    </div>
                  </div>
                  <div class="form-box form-box-text">
                    <div class="form-group-text">
                      <textarea name="message" class="form-control" rows="8" cols="40" placeholder="Your message"></textarea>
                    </div>
                  </div>
                </form><!-- /.form-big -->
              </div><!-- /.storage__form -->
            </div><!-- /.storage__item -->

          </div><!-- /.storage-list -->
        </div><!-- /.tabs__content-item -->

      </div><!-- /.tabs__content -->

      <ul class="tabs__menu">
        <li class="tabs__menu-item active">LOCAL MOVING</li>
        <li class="tabs__menu-item ">LONG DISTANCE</li>
        <li class="tabs__menu-item">STORAGE SERVICE</li>
      </ul>
    </div><!-- /.tabs -->

  </div><!-- /.box -->
</div><!-- /.prices -->
