<div class="prices block-bg">
  <div class="box">
    <h2>AFFORDABLE PRICES</h2>

    <p>OUR GOAL IS TO LIFT THE BURDEN OF THE ACTUAL <br>MOVE FROM YOUR SHOULDERS.</p>

    <div class="prices-list">

      <div class="prices__item">
        <div class="prices-box">
          <div class="prices-box__info">
            <div class="human">
              <div class="human__i">1 MOVERS</div>
              <div class="human__i">1 MOVERS</div>
            </div>
            <div class="cost">
              <div class="cost__box">
                <span class="cost-d">$</span><span class="cost-n">89</span><span class="cost-time">&nbsp;/&nbsp;hour</span>
              </div>
              <div class="cost__header">2 MOVERS & TRUCK</div>
            </div>
            <a href="" class="btn">BOOK NOW</a>
          </div><!-- /.prices-box__info -->
          <div class="prices-box__img">
            <img src="assets/images/prices/truck.png" alt="">
          </div><!-- /.prices-box__img -->
        </div><!-- /.prices-box -->
      </div><!-- /.prices__item -->

      <div class="prices__item">
        <div class="prices-box">
          <div class="prices-box__info">
            <div class="human">
              <div class="human__i">1 MOVERS</div>
              <div class="human__i">1 MOVERS</div>
              <div class="human__i">1 MOVERS</div>
            </div>
            <div class="cost">
              <div class="cost__box">
                <span class="cost-d">$</span><span class="cost-n">109</span><span class="cost-time">&nbsp;/&nbsp;hour</span>
              </div>
              <div class="cost__header">3 MOVERS & TRUCK</div>
            </div>
            <a href="" class="btn">BOOK NOW</a>
          </div><!-- /.prices-box__info -->
          <div class="prices-box__img">
            <img src="assets/images/prices/truck.png" alt="">
          </div><!-- /.prices-box__img -->
        </div><!-- /.prices-box -->
      </div><!-- /.prices__item -->

      <div class="prices__item">
        <div class="prices-box">
          <div class="prices-box__info">
            <div class="human">
              <div class="human__i">1 MOVERS</div>
              <div class="human__i">1 MOVERS</div>
              <div class="human__i">1 MOVERS</div>
              <div class="human__i">1 MOVERS</div>
            </div>
            <div class="cost">
              <div class="cost__box">
                <span class="cost-d">$</span><span class="cost-n">139</span><span class="cost-time">&nbsp;/&nbsp;hour</span>
              </div>
              <div class="cost__header">4 MOVERS & TRUCK</div>
            </div>
            <a href="" class="btn">BOOK NOW</a>
          </div><!-- /.prices-box__info -->
          <div class="prices-box__img">
            <img src="assets/images/prices/truck.png" alt="">
          </div><!-- /.prices-box__img -->
        </div><!-- /.prices-box -->
      </div><!-- /.prices__item -->

    </div><!-- /.prices-list -->

    <ul class="tabs-list prices__tabs">
      <li class="tabs__item tabs__item--select">LOCAL MOVING</li>
      <li>STORAGE SERVICE</li>
    </ul>
  </div><!-- /.box -->
</div><!-- /.prices -->
