<div class="services block-lignt">
  <div class="box">
    <h2>SERVICES</h2>
    <p>MORE THAN <span class="mark">1,000 MOVES</span> A MONTH</p>
    <div class="services-list">

      <div class="services__item">
        <div class="services-box">
          <div class="services-box__img"><img src="assets/images/services/1.png" alt=""></div>
          <div class="services-box__description">
            <h3>LOCAL MOVING</h3>
            <p>We take care of the logistics of moving your home or office.</p>
          </div><!-- /.services__description -->
        </div><!-- /.services__item-box -->
      </div><!-- /.services__item -->

      <div class="services__item">
        <div class="services-box">
          <div class="services-box__img"><img src="assets/images/services/2.png" alt=""></div>
          <div class="services-box__description">
            <h3>LONG DISTANCE MOVING</h3>
            <p>We can coordinate flawless schedule that ensures you get what you need.</p>
          </div><!-- /.services__description -->
        </div><!-- /.services__item-box -->
      </div><!-- /.services__item -->

      <div class="services__item">
        <div class="services-box">
          <div class="services-box__img"><img src="assets/images/services/3.png" alt=""></div>
          <div class="services-box__description">
            <h3>PACKING & STORAGE</h3>
            <p>We have a massive area dedicated for short term and long term storage needs.</p>
          </div><!-- /.services__description -->
        </div><!-- /.services__item-box -->
      </div><!-- /.services__item -->

      <div class="services__item">
        <div class="services-box">
          <div class="services-box__img"><img src="assets/images/services/4.png" alt=""></div>
          <div class="services-box__description">
            <h3>COMMERCIAL RELOCATION</h3>
            <p>We can coordinate flawless schedule that ensures you get what you need.</p>
          </div><!-- /.services__description -->
        </div><!-- /.services__item-box -->
      </div><!-- /.services__item -->

    </div><!-- /.services-list -->
  </div><!-- /.box -->
</div><!-- /.services -->
