<div class="services block-lignt">
  <div class="box">
    <h2>SERVICES</h2>
    <p>MORE THAN <span class="mark">1,000 MOVES</span> A MONTH</p>

    item

    <h3>LOCAL MOVING</h3>
    <p>We take care of the logistics of moving your home or office.</p>

    item

    <h3>LONG DISTANCE MOVING</h3>
    <p>We can coordinate flawless schedule that ensures you get what you need.</p>

    item

    <h3>PACKING & STORAGE</h3>
    <p>We have a massive area dedicated for short term and long term storage needs.</p>

    item

    <h3>COMMERCIAL RELOCATION</h3>
    <p>We can coordinate flawless schedule that ensures you get what you need.</p>
  </div><!-- /.box -->
</div><!-- /.services -->
