<header class="header header--mobile _header">
  <div class="box">
    <div class="header__close _menu-close">
      <div class="i-corss">Close</div>
    </div>
    <div class="header-box">
      <div class="header__logo">
        <img src="assets/images/logo_mini.svg" alt="#1 CALIFORNIA MOVING SERVICE" width="60" height="39">
      </div>
      <nav class="header__nav">
        <ul class="menu" id="top-menu">
          <li class="menu__item active"><a href="#p-home">HOME</a></li>
          <li class="menu__item"><a href="#p-services">SERVICES</a></li>
          <li class="menu__item"><a href="#p-about">ABOUT US</a></li>
          <li class="menu__item"><a href="#p-advantage">ADVANTAGES</a></li>
          <li class="menu__item"><a href="#p-prices">PRICES</a></li>
          <li class="menu__item"><a href="#p-reviews">REVIEWS</a></li>
        </ul>
      </nav>
      <div class="header__btn">
        <a href="#p-get" class="btn-link _go-to">GET A QUOTE</a>
      </div>
    </div><!-- /.header__box -->
  </div><!-- /.box -->
</header><!-- /.header -->
