<header class="header _header">
  <div class="box">
    <div class="header-box">
      <div class="header__logo">
        <img src="assets/images/logo_mini.svg" alt="#1 CALIFORNIA MOVING SERVICE" width="60" height="39">
      </div>
      <nav class="header__nav">
        <ul class="menu">
          <li class="menu__item active"><a href="">HOME</a></li><!-- .active — для активного! -->
          <li class="menu__item"><a href="">ABOUT US</a></li>
          <li class="menu__item"><a href="">ADVANTAGES</a></li>
          <li class="menu__item"><a href="">PRICES</a></li>
          <li class="menu__item"><a href="">REVIEWS</a></li>
        </ul>
      </nav>
      <div class="header__btn">
        <a href="#" class="btn">GET A QUOTE</a>
      </div>
    </div><!-- /.header__box -->
  </div><!-- /.box -->
</header><!-- /.header -->
