<div class="about block-bg">
  <div class="box">
    <h2 class="wow bounceInUp">ABOUT US</h2>

    <p>OUR PROFESSIONAL MOVERS HAVE A TOTAL <br>OF <span class="mark">10 YEARS</span> IN THE MOVING INDUSTRY.</p>

    <div class="about-list">
      <div class="about__item">
        <div class="about-box">
          <div class="about-box__description">
            <h3>LOCAL MOVING</h3>
            <p>Licensed and bonded, CalState Moving &amp; Storage is composed of relocation experts, capable of planning and executing seamless local and long distance moves.</p>
          </div><!-- /.about-box__description -->
          <div class="about-box__img"><img src="assets/images/about/bitmap.png" alt="LOCAL MOVING"></div><!-- /.about-box__img -->
        </div><!-- /.about-box -->
      </div><!-- /.about__item -->
      <div class="about__item">
        <div class="about-box" style="line-height: 0;">
          <iframe width="100%" height="311" src="https://www.youtube.com/embed/YZh5laVdCVA" frameborder="0" allowfullscreen></iframe>
        </div><!-- /.about-box -->
      </div><!-- /.about__item -->
    </div><!-- /.about-list -->
  </div><!-- /.box -->
</div><!-- /.about -->
