<div id="p-about" class="about block-bg">
  <div class="box">
    <div class="wow fadeIn" data-wow-delay=".1s">
      <h2>ABOUT US</h2>
      <p>OUR PROFESSIONAL MOVERS HAVE A TOTAL <br>OF <span class="mark">10 YEARS</span> IN THE MOVING INDUSTRY.</p>
    </div>

    <div class="about-list">
      <div class="about__item wow fadeIn" data-wow-delay=".4s">
        <div class="about-box">
          <div class="about-box__description">
            <h3>LOCAL MOVING</h3>
            <p>LA Moving Centre is a professional moving company with headquarters in Los Angeles, California. Our specialization includes local and in-state long-distance residential relocation. Thousands of our clients are grateful for our outstanding services in moving home. We are skilled in commercial relocation as well, helping small and large Los Angeles enterprises to relocate smoothly and efficiently. As a full service moving company we provide you both with moving and packing services, we help you to estimate your expenses, we assist you while preparations for your move and are always ready to give useful tips.</p>
          </div><!-- /.about-box__description -->
          <div class="about-box__img"><img src="assets/images/about/bitmap.png" alt="LOCAL MOVING"></div><!-- /.about-box__img -->
        </div><!-- /.about-box -->
      </div><!-- /.about__item -->
    </div><!-- /.about-list -->
  </div><!-- /.box -->
</div><!-- /.about -->
