.about
  width: 100%
  height: 700px
  // opacity: 0.8
  background-color: radial-gradient(circle at 50% 0, #23a0cf, #123247)
  display: block
  background-image: inline('bgs/about-bg.png')
  margin: 0
  background-attachment: scroll
  background-position: 100% 100%
  background-repeat: no-repeat
  background-size: cover
  position: relative
  padding-top: 80px
